@media (min-width: 320px) {

    .carousel-container{
      margin: 0 auto;
      margin-top: 5%;
      
      height: 213px;
      width: 320px;
       
      overflow: hidden;
      position: relative;
    }
}

@media (min-width: 768px) {
    .carousel-container{
      margin: 0 auto;
      margin-top: 5%;
      
      height: 400px;
      width: 600px;
       
      overflow: hidden;
      position: relative;
    }
}