body{
  font-family:"Arial";
}

.left {
    float: left;
}

.right {
    float: right;
}


ul{
    margin: 0;
    list-style: none;
    padding: 0;
}

ul li a{
  text-decoration:none;
}

img{
  display:block;
}




header {
    margin-bottom: 30px;
}

.header-top-cont {
    background: #7dd9e8;
    padding: 24px 20px 5px 0px;
}

.header-bottom-cont {
    background-color: #f5f5f5;
}


.header-top-left-cont {

    padding: 16px 0px 15px 0px;
}


.container {
    width: 58.75em;
    margin: 0 auto;
}

/* must be here */
.header-top-left-cont {

    margin-left: 15%;
}

.header-top-right-cont {
    margin-right: 15%;

}


.header-bottom-left-cont {
    margin-left: 15%;
    list-style: none;   /* remove dots */
}
.header-bottom-left-cont a{
    line-height: 40px;
    font-size: 14px;
    text-decoration: none;
    color: #000;
    padding: 0 10px;
}

.header-bottom-left-cont li {
    float: left;
    display: inline;
}
.header-bottom-right-cont {
    padding-top: 10px;
    margin-right: 15%;
    font-size: 14px;
}
 
 
  /* asfasf */
 .header-bottom-right-cont ul li:first-child {
      background:url('../images/box.png') no-repeat 0;
  }
  .header-bottom-right-cont ul li:first-child.active   {
      background:url('../images/topic-box.png') no-repeat 0;
  }
  .header-bottom-right-cont ul li:last-child  {
      background:url('../images/friend-request.png') no-repeat 0;
  }
  .header-bottom-right-cont ul li:last-child.active  {
      background:url('../images/friend-request-active.png') no-repeat 0;
  }
  .header-bottom-right-cont ul li a {
      margin-right: 5px;
      color:#d8d8d8;
      display:block;
      padding-left:20px;
      margin-left: 10px;
  }
   .header-bottom-right-cont ul li.active a {
      color: #000;
  }
  
    .header-bottom-right-cont ul li {
        margin-right: 20px;
    }
  
  /* asfasf */

search-widget {
    display: inline;
    margin: 20px;
    width: 355px;
}
.search-box {
    display: table;
    margin-left: 9px;
    background: url('../images/search.png') no-repeat;
    padding: 0px 10px;

    line-height: 25px;
    width: 256px;
}

#search-sep
{
    margin-right: 4px;
    }
#search-cross
{
    margin-right: 0;
}

#search-glass {
    margin-left: 2;
}
.search-box-item {
    display: table-cell;

}
/* for the input field only */
.search-box input {
    width: 100%;
    background: transparent;
    border: 0;
    font-size: 9px;
    
}

.search-button {
    margin-left: 6px;
    background: url('../images/search-button.png') no-repeat;
    width: 64px;
    line-height: 20px;
}


.search-button a {
    text-decoration: none;
    font-size: 9px;
    color: #fff;
    display: block;
    padding: 0px 10px;
}

.user-wrapper {
    text-align: right;
    text-transform: capitalize;
}
.user-nav-cont ul {
    line-height: 15px;
}
.user-nav-cont ul li {
    float: left;
    width: auto;
    padding: 0 5px;
}

/*
.user-nav-cont ul li:hover a {
  color: #fff;
}
*/

.user-nav-cont ul li+li{
    background:url('../images/vertical-line.png') no-repeat 0 50%;
}

.user-nav-cont ul li a {
    color: #000;
    font-size: 12px;
}


.user-navbar ul li,.user-notification ul li {
    line-height: 40px;
    float: left;
    font-size: 14px;
    width: auto;
}
.user-navbar ul li a {
    color: #000;
    display: block;
    padding: 0 15px;
}
.user-navbar ul li a:hover {
    background:#7dd9e8;
    color:#fff;
}
.user-navbar ul li:first-child a {
    padding: 0 4px;

}


.user-notification ul li {
    font-size: 14px;
    margin: 0 10px;
  }
  .all-entries-wrapper {
    /* background: whitesmoke; */
}

  .toplevel-container .container {
      background: url('../images/body-background.png');
  }

  .toplevel-container .container {
      background: url('../images/body-background.png');
  }

  .toplevel-container .container .toplevel-container-left .left-sidebar-wrapper {
      width: 25%;
  }

  .entries-wrapper {
      width: 67.7124183007%;    /* exact */
      padding-top: 0;
      padding-right: 26px;
  }

  .toplevel-container .container > .right {
  width: 18.6170212766%;
  }

  .toplevel-container .container >.left {
    width: 81.3829787234%;
}

  .sidebar-title {
      width: 91%;
      background-color: #72bfd7;
      color: white;
      line-height: 42px;
      padding: 0 11px;
      font-size: 13px;
  }
  .sidebar-content ul li {
      position: relative;
  }
  .sidebar-content ul li a:first-child {
    padding: 15px 13px;
    width: 80%;
    display: block;
    font-size: 12px;
    color: #000;
}
.sidebar-content ul li:hover {
    background: #fff;
}
.sidebar-content ul li span {
    padding: 0 5px;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.entries-tab-container {
    background: url('../images/tab-container.png') no-repeat;
    background-size: 100% 100%;
}

.tab-container-border-line img {
    width: 100%;
}
.entries-title {
    font-size: 24px;
    padding: 0;
    margin-bottom: 8px;
}


.tab-title {
    padding: 8px 0;
    text-align: center;
    font-size: 14px;
}
.tab-container {
    width: 100%;
    padding: 2px 5px 0px 5px;
}

.tab-container ul li {
    float:left;
    background:url(../images/inactive-tab.png) no-repeat;
    padding: 0px 5px;
    width: 110px;
    margin: 0 2px;
}

.tab-container ul li:hover {
    background: url(../images/active-tab.png) no-repeat;
    color: #fff;
    font-size: 11px;
}
.tab-container ul li.tab-active {
    background: url(../images/active-tab.png) no-repeat;
}

.tab-container ul li a {
    text-decoration: none;
    font-size: 12px;
    color: #000;
    line-height: 28px;
    display: block;
    text-align: center;
}
.tab-container ul li.tab-active a, .tab-wrapper ul li:hover a {
    color: #fff;
}

.entry-photo-cont {
    position: relative;
    width: 13.1044%;
}

.entry-photo img {
    width: 70px;
    height: 70px;
}
.entry-photo-cont .frame {
    position: absolute;
}
.user-post-info {
    width: 84.8956%;
    padding-left: 10px;
}

.user-post-info .entry-status {
    font-size: 12px;
    color: #72bfd7;
    font-weight: 600;
}

.user-post-info .entry-status-last {
    font-size: 12px;
    color: #DC143C;
    font-weight: 600;
}

.user-post-info h2 {
    font-size: 14px;
    text-transform: capitalize;
}
.user-post-info h2 a {
    color: #000;
}

.entries-blog ul li {
    /* relative path */
    background: url('../images/hort_line.png') no-repeat bottom;
    padding: 15px 0;
}


.user-post-info span,.user-post-info p {
    font-size: 12px;
    color: #616161;
    line-height: 18px;
}
.user-entry-name a,.favourties a {
    color: #73c0d7;
}

.sub-status a {
    color: #7c9531;
}

/* Footer */
footer{
  margin-top: 30px;
  background: #717171;
}

.footer-navigation {
    color: #fff;
    padding: 19px 2px;
}
.footer-navigation ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-size: 11px;
}
.footer-navigation ul li {
    background: url('../images/dot.png') no-repeat;
    background-position: 0;
    width: auto;
    font-weight: bold;
    float: left;
    padding: 0px 7px;
}
.footer-navigation ul li:first-child {
    background: none;
}
.footer-navigation ul li a {
  text-decoration: none;
  color:#fff;
}
/*  */
.copyright {
    color: #fff;
    padding: 19px 2px;
    font-size: 11px;
}
